{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<br />


<center><h1>Digitize your Handwritten Document!</h1></center>
<br />
<div class="center">
<form method='post' enctype="multipart/form-data">
    <span class="content-label" >
    <label for="content" >Select a content image:</label>
    </span>
    <input type='file' name='content' id="content">
    <br>
    <br>
    <div align="center" >
<button class="btn btn-primary">Digitize</button>
        </div>
</form>
    </div>


{% endblock %}